* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.banner-container-pc{
  display: none;
}
.footer-banner-pc{
  display: none;
}
.app-install-add {
    margin: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.app-install-add__logo img {
    width: 20px;
    height: 20px;
    background-color: #34E0A1;
    padding: 10px;
    border-radius: 10px;
}

.app-install-add__button {
    padding: 10px;
    background-color: white;
    border: solid black 1.5px;
    border-radius: 50px;
    width: fit-content;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    right: 0;
    text-decoration: none;
    color: black;
    position: absolute;
}

.app-install-add__title {
    padding: 10px;
    font-size: 10px;
}

.navbar__logo img {
    width: 30px;
    height: 30px;
    background-color: #34E0A1;
    padding: 5px;
    border-radius: 5px;
}

.navbar__person_logo {
    padding: 10px;
    border-radius: 50px;
    border: solid black 1px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__person_logo:hover {
    padding: 10px;
    border-radius: 50px;
    border: solid black 1px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34E0A1;
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo-title {
    padding-left: 10px;
}

.navbar__home-link {
    text-decoration: none;
    color: black;
}

#menubar {
    padding: 10px;
    cursor: pointer;
}

#menubar:hover {
    padding: 10px;
    background-color: #34E0A1;
}

/* Container for the scrollable menu */
.scroll-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Scrollable menu */
.scroll-menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    width: 80%;
    padding: 10px;
}

/* Menu items */
.scroll-menu a {
    text-decoration: none;
    color: black;
    padding: 12px 18px;
    margin: 0 5px;
    background: white;
    font-weight: bold;
    font-size: 16px;
    flex: 0 0 auto;
}

/* Hover & active effect */
.scroll-menu a:hover {
    border-bottom: solid black 0.3px;
}

.scroll-menu a:focus {
    border-bottom: solid #34E0A1 2px;
}

/* Scroll Manubar */

.scroll-container {
    padding: 8px;
}

.scroll-menu {
    width: 100%;
    padding: 8px;
    /* overflow-x: scroll; /* Enable swipe scrolling */
    /* scrollbar-width: none; */
}

.scroll-menu a {
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 3px;
}


/* Search box */
.search-bar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-bar__box {
    display: flex;
    margin: 10px;
    gap: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.search-bar__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar__input input {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    min-width: 0;
    border: none;
    outline: none;
    background: transparent; 
}



.search-bar__button {
    display: flex;
    background-color: #34E0A1;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
    /* margin-top: 20px; */
    border-radius: 50px;
    justify-content: center;
    text-align: center;
}

/* Banner Style */
.banner-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: #34E0A1;
}

.banner-image {
    display: flex;
    justify-content: center;
}

.banner-image img {
    width: 100%;
}

.banner-title {
    margin: 10px;
    padding: 10px;
}

.banner-title h1 {
    font-size: 40px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.banner-app-store {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 38%;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
}

.banner-app-store a {
    text-decoration: none;
    color: white;
}


/* singup page designing */
.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 70px; */
    margin: 20px;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.signup-page__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.signup-page__close:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.signup-page__logo img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #34E0A1;
    padding: 10px;
    border-radius: 10px;
}

.signup-page__title {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.signup-page__google {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
    margin-top: 20px;
    border: solid black 1px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 100px;
    cursor: pointer;
}

.signup-page__mail {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
    margin-top: 20px;
    border: solid black 1px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 100px;
    cursor: pointer;
}

.signup-page__mail:hover {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
    margin-top: 20px;
    border: solid black 1px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 100px;
    cursor: pointer;
    background-color: #34E0A1;
}

.signup-page__google:hover {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
    margin-top: 20px;
    border: solid black 1px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 100px;
    cursor: pointer;
    background-color: #34E0A1;
}

.signup-page__google img {
    width: 20px;
}

.signup-page__mail img {
    width: 20px;
}

.terms-and-privacy {
    font-size: 11px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    opacity: 60%;
    color: black;
}

.recaptcha_info {
    margin-top: 10px;
    font-size: 11px;
    opacity: 60%;
}

.terms-and-privacy a {
    color: black;
}

.recaptcha_info a {
    color: black;
}


/* Explore session*/
.explore{
    padding: 20px;
  }
  .explore h1{
    padding-bottom: 10px;
  }
  .scroll-wrapper {
    display: flex;
    overflow-x: auto;
  }

  .scroll-wrapper::-webkit-scrollbar {
    width: 0;
  }

  .scroll-wrapper__bg-image {
    margin-top: 10px;
    position: relative;
    padding-right: 10px;
    
  }
  /* Image property */
  .image{
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

  /* Gradient overlay for text background */
.scroll-wrapper__bg-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    pointer-events: none; /* Ensures it doesn’t interfere with clicks */
    cursor: pointer;
}
  .scroll-wrapper__head {
    z-index: 1;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  .explore__award-logo img{
    width: 20px;
  }
  
  .explore__award-logo p{
    font-size: 10px;
    font-weight: 800;
  }

  .explore__award-logo{
    padding: 3px;
    margin: 5px;
    font-size: 20px;
    position: absolute; 
    top: 0;
    text-align: center;
    background-color:  #EDBF2D;
    border-radius: 50px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
  }

  
/* inspired session*/
.inspired{
    padding: 20px;
  }
  .inspired h1{
    padding-bottom: 10px;
  }
  .inspired_scroll-wrapper {
    display: flex;
    overflow-x: auto;
  }

  .inspired_scroll-wrapper::-webkit-scrollbar {
    width: 0;
  }

  .inspired_scroll-wrapper__bg-image {
    margin-top: 10px;
    position: relative;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
  }

  .inspired_scroll-wrapper__bg-image p {
    padding-top: 10px;
  }
  /* Image property */
  .image{
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

/* local_tour session*/
.local_tour{
    padding: 20px;
  }
  .local_tour h1{
    padding-bottom: 10px;
  }
  .local_tour_scroll-wrapper {
    display: flex;
    overflow-x: auto;
  }

  .local_tour_scroll-wrapper::-webkit-scrollbar {
    width: 0;
  }

  .local_tour_scroll-wrapper__bg-image {
    margin-top: 10px;
    position: relative;
    padding-right: 10px;
    text-align: left;
    cursor: pointer;
  }

  .local_tour_scroll-wrapper__bg-image p {
    padding-top: 10px;
  }
  /* Image property */
  .image{
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

  .more-explore{
    padding: 20px;
    background-color: #ececec;
  }
  .more-explore h1{
    padding-bottom: 10px;
  }

  /* footer banner */
  .footer-banner{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: #FFF7E1;
  }
  .footer-banner img{
    width: 100%;
  }
  .footer-banner__award-logo img{
    background-color: #EDBF2D;
    width: 10%;
    margin-left:20px ;
    border-radius: 50px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
  }
  .footer-banner__content{
    padding: 10px;
    margin: 10px;
  }
  .footer-banner__content h1,  .footer-banner__content p{
    padding-bottom: 10px;
  }

  .footer-banner__btn p{
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
  }
  .footer-banner__btn{
    margin-bottom: 10px;
    cursor: pointer;
  }

  .footer{
    margin-top: 50px;
    align-items: center;
    background-color: #f1f1f1;
  }

  .footer-menu{
    margin: 10px;
    padding: 20px;
  }
.footer-menu p{
  width: fit-content;
  padding-bottom: 20px;
  cursor: pointer;
}
.footer-menu p:hover{
  padding-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.footer-menu__social-media{
  display: flex;
  justify-content: right;
  gap: 30px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.footer-bottom{
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer-bottom__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__logo img {
  width: 30px;
  height: 30px;
  background-color: #34E0A1;
  padding: 5px;
  border-radius: 5px;
}
.footer-banner__content{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.footer-banner__content a{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: black;
}

.foot-copy-right{
  padding: 10px;
  margin: 10px;
}


/* Default styles (for mobile-first approach) */

/* Tablets (768px and above) */
@media screen and (min-width: 768px) {
  body {
      background-color: #f4f4f4;
  }
  .app-install-add{
    display: none;
  }
  .container {
      max-width: 750px;
  }
}

/* Laptops & Small Desktops (1024px and above) */
@media screen and (min-width: 1024px) {
  .app-install-add{
    display: none;
  }
  .banner-containe{
    display: flex;
  }
  .banner-title{
    display: none;
  }
  .banner-image{
    display: none;
  }
  .banner-container{
    display: none;
  }
  .navbar{
    display: none;
  }
  /* body{
    margin: 50px;
  } */
  .explore{
    margin:40px;
  }

  .inspired{
    margin:40px;
  }
  .local_tour{
    margin:40px;
  }
  .more-explore{
    margin:40px;
  }
  .more-explore{
    margin:40px;
  }
  .footer{
    margin:40px;
  }
  .banner-container-pc{
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #34E0A1;
  }
  .banner-image-pc{
    display: flex;
  }
  .banner-image-pc img {
    width: 70%;
  }
  .container{
    max-width: 1000px;
  }
  .banner-content-pc{
    padding: 20px;
    margin: 30px;
  }
  .banner-container-pc h1{
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .banner-button-pc{
    color: white;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    background-color: black;
    font-weight: bold;
  }


/* footer  for pc screen*/
.footer-banner{
  display: none;
}

.footer-banner-pc{
    display: flex;
    background-color: #FFF7E1;
}
.footer-banner-pc img{
  width: 50%;
}
.footer-banner__award-logo-pc img{
  background-color: #EDBF2D;
  width: 10%;
  margin-left:20px ;
  border-radius: 50px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px ;
}
.footer-banner__content-pc{
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 40px;
}

.footer-banner__content-pc h1{
  font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-banner__content-pc h1,  .footer-banner__content p{
  padding-bottom: 20px;
}

.footer-banner__btn-pc p{
  background-color: black;
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.footer-banner__btn-pc{
  margin-bottom: 10px;
  cursor: pointer;
}

/* Large Screens (1200px and above) */
@media screen and (min-width: 1200px) {
  .app-install-add{
    display: none;
  }
  .container {
      max-width: 1200px;
  }
}
